<section th:fragment="liveSection" class="live-section">
    <div class="text-content">
        도시의 이야기를 전략으로 설계하고, 경험으로 연결하는 순간<br>
        그 출발점이 MICE STAR가 있습니다.
    </div>

    <div class="live-content">
        <div class="video-player-info">
        </div>
        <iframe
                src="https://www.youtube.com/embed/QkG7hVg0Bq4"
                title="youtube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
    </div>
</section>
